@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSerif";
  font-style: normal;
  src: url("../fonts/DMSerifDisplay.ttf");
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  src: url("../fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: "Outfit-Medium";
  font-style: Medium;
  src: url("../fonts/Outfit-Medium.ttf");
}

.landing-page::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%; /* Adjust this value to control the height of the gradient area */
  background: linear-gradient(
    180deg,
    transparent,
    #c8d5bb
  ); /* Replace #ff5733 with your color */
  z-index: 1;
}

* {
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* #gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #97a791;
  --gradient-color-2: #c8d5bb;
  --gradient-color-3: #bed2c3;
  --gradient-color-4: #bed3ca;
} */

/* #gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #d3ccd6;
  --gradient-color-2: #a6a5c4;
  --gradient-color-3: #9790a4;
  --gradient-color-4: #4f455c;
} */

/* #gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #667367;
  --gradient-color-2: #364038;
  --gradient-color-3: #c5d9c7;
  --gradient-color-4: #97a697;
} */

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #6c848d;
  --gradient-color-2: #80989b;
  --gradient-color-3: #c8d5bb;
  --gradient-color-4: #97a791;
}

#experience-gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #6c848d;
  --gradient-color-2: #80989b;
  --gradient-color-3: #c8d5bb;
  --gradient-color-4: #97a791;
}

.shadow {
  box-shadow: inset 0 0 10px #c8d5bb;
}

.container * {
  transition: all 0.8s;
  filter: blur(6px);
  opacity: 0;
  transform: translateY(10px);
  will-change: opacity, filter, transform; /* Optimize for properties that will change */
  pointer-events: none; /* Prevent mouse events on invisible elements */
}

.fade-in {
  transition: opacity 1s, filter 1s;
  filter: blur(6px);
  transform: translateY(10px);
  opacity: 0;
}

/* Class to add when the elements are in view */
.in-view {
  filter: blur(0);
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
