:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%);
  --sabu-nazu: 71, 88, 92;
  --yanagi-nezumi: 200, 213, 187;

}

html {
  font-family: system-ui, sans-serif;
  background: #E0E0E0;
  background-size: 224px;
}

code {
  font-family:
    youngserif,
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.newBlur {
  width: max-content;

  &:after {
    content: '';
    position: absolute;
    inset: 0%;
    backdrop-filter: blur(20px);
    -webkit-mask: linear-gradient(180deg, transparent 30%, black 90%);
  }
}