---
import ContactForm from "../ContactForm.astro";
---

<div
  class="w-screen min-h-screen bg-gradient-to-b from-greenish to-slateish flex justify-center items-center text-center"
  id="experience"
>
  <div class="flex flex-col items-center md:w-1/2 w-screen lg:px-16 px-8">
    <div class="md:w-4/5">
      <h1 class="text-slight font-dmserif text-4xl fade-in">
        Let's get in Contact
      </h1>
      <div class="flex flex-col">
        <p class="text-slight font-outfit text-xl py-4 fade-in">
          Whether you want to reach out to work with me, or just want to say hi,
          I'd love to hear from you! Feel free to reach out to me using the
          contact form below.
        </p>
      </div>
    </div>

    <div class="mx-auto pt-4 w-full fade-in">
      <ContactForm />
    </div>
  </div>
</div>
