---
import ProjectCard from "../ProjectCard.astro";
---

<div class="h-screen">
  <div class="h-1/4">
    <ProjectCard
      name="Test"
      description="This is a description or something"
      image="images/test.jpg"
    />
  </div>
</div>
