---
export const prerender = true;

import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Landing from "../components/Landing.astro";
import Introduction from "../components/Introduction.astro";
---

<!doctype html>
<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-screen">
    <Landing />
    <Introduction />
  </body>
</html>
