---
export const prerender = true;

import BaseHead from '../components/BaseHead.astro';

import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<style>
			@keyframes fade-up {
				0% {
					opacity: 0;
					color: theme('colors.blue.500');
					transform: translateY(10px);
				}
				0% {
					opacity: 0.0;
					color: theme('colors.blue.500');
					transform: translateY(7px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}
		  
			.fade-up {
				display: inline-block;
				opacity: 0;
				animation-name: fade-up;
				animation-fill-mode: forwards;
			}
		</style>
		  
	</head>
	<body>
		<Header />
		<main>
			<!-- A div that spans 3/4 of the screen height and centers all content -->
			<div class="h-screen flex flex-col justify-center items-center">
				<div class="m-auto w-2/5">

					<h1 class="font-harmonia text-3xl text-center">
						Hi, <span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">I'm Simon</span>
					</h1>
	
					<!-- A small gap between the header and text -->
					<div class="h-2"></div>

					<p class="text-xl font-harmonia text-center">
						<span class="fade-up">A</span>
						<span class="fade-up">software</span>
						<span class="fade-up">engineering</span>
						<span class="fade-up">student</span>
						<span class="fade-up">interested</span>
						<span class="fade-up">in</span>
						<span class="fade-up">finding</span>
						<span class="fade-up">elegant</span>
						<span class="fade-up">solutions</span>
						<span class="fade-up">to</span>
						<span class="fade-up">complex</span>
						<span class="fade-up">and</span>
						<span class="fade-up">interesting</span>
						<span class="fade-up">problems.</span>
					</p>
					  
					<div class="h-1/2"></div>

					<div class="text-center">
						<!-- Unicode downward triangle character -->
						<a href="#about" class="text-4xl hover:text-5xl hover:bg-gradient-to-r hover:from-blue-500 hover:to-purple-600 hover:text-transparent hover:bg-clip-text">&#9662;</a>
					</div>

				</div>
			</div>
		</main>
		<About />
		<Projects />
		<!-- <Footer /> -->

		<script>
			const fadeUpElements = document.querySelectorAll(".fade-up");
		  
			const observer = new IntersectionObserver(
				(entries) => {
					entries.forEach((entry) => {
					if (entry.isIntersecting) {
						const target = entry.target as HTMLElement;
						const index = Array.from(fadeUpElements).indexOf(target);
						target.style.animationDuration = "0.4s";
						target.style.animationDelay = `${700 + index * 100}ms`;
						target.style.animationPlayState = "running";
					}
					});
				},
				{
					threshold: 1.0,
				}
			);
		  
			fadeUpElements.forEach((element) => {
			  	observer.observe(element);
			});
		</script>
		  
	</body>
</html>
