---
export const prerender = true

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <Header title={SITE_TITLE} /> -->
		<main>
			<h1>Hi, I'm Simon.</h1>
			<p>
				I'm a software engineering student interested in finding elegant solutions to complex and interesting problems.
			</p>
		</main>
		<!-- <Footer /> -->
	</body>
</html>
