---
export const prerender = true;

import Header from '../components/Header.astro';
import About from '../components/About.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<!-- A div that spans 3/4 of the screen height and centers all content -->
			<div class="h-screen flex flex-col justify-center items-center">
				<div class="m-auto w-2/5">

					<h1 class="font-harmonia text-3xl text-center">
						Hi, <span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">I'm Simon</span>
					</h1>
	
					<!-- A small gap between the header and text -->
					<div class="h-2"></div>
					
					<p class="text-xl font-harmonia text-center">
						I'm a software engineering student interested in finding elegant solutions to complex and interesting problems.
					</p>

					<div class="h-1/2"></div>

					<div class="text-center">
						<!-- Unicode downward triangle character -->
						<a href="#about" class="text-4xl hover:text-5xl hover:bg-gradient-to-r hover:from-blue-500 hover:to-purple-600 hover:text-transparent hover:bg-clip-text">&#9662;</a>
					</div>

				</div>
			</div>
		</main>
		<About />
		<!-- <Footer /> -->
	</body>
</html>
