---
export const prerender = true;

import BaseHead from '../components/BaseHead.astro';

import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.caret {
			  animation: blink 1s steps(1) infinite;
			}
	  
			@keyframes blink {
			  50% {
				opacity: 0;
			  }
			}
		  </style>
	</head>
	<body>
		<Header />
		<main>
			<!-- A div that spans 3/4 of the screen height and centers all content -->
			<div class="h-screen flex flex-col justify-center items-center">
				<div class="m-auto w-2/5">

					<h1 class="font-harmonia text-3xl text-center">
						Hi, <span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">I'm Simon</span>
					</h1>
	
					<!-- A small gap between the header and text -->
					<div class="h-2"></div>

					<p class="text-xl font-harmonia text-center">
						<span id="typing-text"></span><span class="caret">|</span>
					</p>					

					<div class="h-1/2"></div>

					<div class="text-center">
						<!-- Unicode downward triangle character -->
						<a href="#about" class="text-4xl hover:text-5xl hover:bg-gradient-to-r hover:from-blue-500 hover:to-purple-600 hover:text-transparent hover:bg-clip-text">&#9662;</a>
					</div>

				</div>
			</div>
		</main>
		<About />
		<Projects />
		<!-- <Footer /> -->

		<script>
			const text = "A software engineering student interested in finding elegant solutions to complex and interesting problems.";
			const typingTextElement = document.getElementById("typing-text");
			const caretElement = document.getElementsByClassName("caret");
		  
			let index = 0;
		  
			function type() {
			  if (index < text.length) {
				typingTextElement!.innerHTML += text.charAt(index);
				index++;

				setTimeout(type, Math.random() * 50 + 25);
			  }
			}
		  
			type();
		</script>
		  
	</body>
</html>
