---

import InfoCard from '../components/InfoCard.astro'

---

<hr>
<div class="h-10" id="about"></div>
<div class="font-harmonia text-center m-auto flex flex-col pt-5 pb-5 justify-center items-center">
    <div class="m-auto w-1/2 text-xl">
        <h1 class="text-3xl bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">About Me</h1>
        <br>
        <p> 
            I'm a student, FIRST alumnus, and self described maker currently living, and attending school, in Victoria, BC. 
        </p>
        <br>
        <p>
            I love finding creating simple and elegant solutions to challenging problems, 
            and picking up new skills and knowledge along while doing so. 
        </p>
    </div>
    <div class="h-10"></div>
    <InfoCard />
</div>
<div class="h-10"></div>