---

import InfoCard from '../components/InfoCard.astro'

---

<hr>
<div class="h-10" id="about"></div>
<div class="font-harmonia text-center m-auto flex flex-col pt-5 pb-5 justify-center items-center">
    <div class="m-auto w-3/5 sm:w-4/5 md:w-3/5 text-xl">
        <h1 class="text-3xl gradient-text dark:gradient-text-dark">About Me</h1>
        <br>
        <p> 
            Hello! I'm Simon Erlic. I'm a software engineering student, maker, and fullstack developer currently living, and attending school, in Victoria, BC, Canada.
        </p>
        <br>
        <p>
            Recently, I've been playing with web and native app development, and experimenting with machine learning.
        </p>
    </div>
    <div class="h-10"></div>
    <div class="sm:p-10 md:p-10 lg:p-10">
        <InfoCard />
    </div>
    
</div>
<div class="h-10"></div>