<div class="fade-in">
  <svg width="300" height="300" xmlns="http://www.w3.org/2000/svg">
    <!-- Define the circle path -->
    <path
      id="circlePath"
      d="M 150,150 m -140, 0 a 140,140 0 1,0 280,0 a 140,140 0 1,0 -280,0"
      fill="none"></path>

    <!-- Repeated text instances -->
    <text font-size="16" fill="#00000050" font-family="Outfit, sans-serif">
      <textPath href="#circlePath" startOffset="20%">↑ that's me!</textPath>
    </text>

    <!-- Your circular profile picture can be placed in the center -->
    <image
      href="images/me.jpeg"
      x="25"
      y="25"
      height="250px"
      width="250px"
      clip-path="url(#circleClip)"
    />

    <!-- Define a clip path for the image -->
    <clipPath id="circleClip">
      <circle cx="150" cy="150" r="120"></circle>
    </clipPath>
  </svg>
</div>
