---
// when submitted is true, the form has been submitted
// disable the submit button to prevent multiple submissions,
// and change text to thank you.
---

<div class="text-left">
  <form
    data-static-form-name="contact"
    method="POST"
    action="https://email-forward.simonerlic.workers.dev/"
    target="hidden_iframe"
    onsubmit="submitted=true;"
    class="flex flex-col gap-2"
    id="contactForm"
  >
    <label class="text-slighter font-outfit text-lg">Name</label>
    <input
      name="name"
      class="rounded-full bg-greenish bg-opacity-75 border border-slightest shadow-inner hover:shadow-md p-2 px-4 text-slight font-outfit"
    />
    <label class="text-slighter font-outfit text-lg">Email address</label>
    <input
      type="email"
      name="email"
      class="rounded-full bg-greenish bg-opacity-75 border border-slightest shadow-inner hover:shadow-md p-2 px-4 text-slight font-outfit"
    />
    <label class="text-slighter font-outfit text-lg">Message</label>
    <textarea
      name="message"
      class="bg-greenish bg-opacity-75 border border-slightest shadow-inner hover:shadow-md p-2 px-4 text-slight font-outfit rounded-2xl"
    ></textarea>
    <button
      type="submit"
      id="submitButton"
      class="rounded-full bg-greenish bg-opacity-75 hover:bg-opacity-655 border border-slightest shadow-inner hover:shadow-xl p-2 px-4 mt-4 text-slight font-outfit disabled:opacity-50 disabled:hover:bg-opacity-30 disabled:cursor-not-allowed disabled:hover:shadow-none disabled:text-slight"
      >Submit</button
    >
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      const form = document.getElementById("contactForm");
      const submitButton = document.getElementById("submitButton");

      form.addEventListener("submit", function (e) {
        submitButton.disabled = true; // Disable the button
        submitButton.classList.add("cursor"); // Add cursor class
        submitButton.innerText = "Thank you for submitting!"; // Change button text
      });
    });
  </script>

  <iframe
    name="hidden_iframe"
    id="hidden_iframe"
    style="display:none;"
    onload="if(submitted) {}"></iframe>
  <script>
    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
      tx[i].setAttribute(
        "style",
        "height:" + tx[i].scrollHeight + "px;overflow-y:hidden;"
      );
      tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
      this.style.height = 0;
      this.style.height = this.scrollHeight + "px";
    }
  </script>
</div>
