<hr>
<div class="h-10" id="about"></div>
<div class="font-harmonia text-center m-auto flex flex-col pt-5 pb-5 justify-center items-center">
    <div class="m-auto w-1/2 text-xl">
        <h1 class="text-3xl gradient-text dark:gradient-text-dark">Contact</h1>
        <br>
        <p> 
            If you want to know more about my projects, or just otherwise want to get in touch with me, please feel free to drop a line!
        </p>
        <div class="h-10"></div>
        <button class="bg-gradient-to-r font-harmonia hover:gradient-button border-neutral-50 bg-neutral-100 border-2 shadow-md hover:shadow-lg py-1 px-3 rounded-md m-2 transition-all">
            <a href="mailto:simon@erlic.ca" class="text-black hover:text-white font-harmonia-regular">Email</a>
        </button>

        <button class="bg-gradient-to-r font-harmonia hover:gradient-button border-neutral-50 bg-neutral-100 border-2 shadow-md hover:shadow-lg py-1 px-3 rounded-md m-2 transition-all">
            <a href="mailto:simon@erlic.ca" class="text-black hover:text-white font-harmonia-regular">LinkedIn</a>
        </button>

    </div>
    <div class="h-10"></div>

</div>
<div class="h-10"></div>