<div class="grid lg:grid-cols-3 grid-rows-1 grid-cols-2 gap-2">
  <div
    class="lg:col-span-1 col-span-2 row-span-1 bg-[#97a791] rounded-2xl p-4 bg-opacity-25 shadow-inner w-full fade-in"
  >
    <div class="text-slight font-outfit">
      <h2 class="text-2xl font-dmserif pb-2">Languages</h2>
      <hr class="text-slighter pb-2 opacity-70" />
      <ul class="text-slighter">
        <li>C/C++</li>
        <li>Java</li>
        <li>Python</li>
        <li>JavaScript/TypeScript</li>
        <li>HTML/CSS</li>
        <li>SQL</li>
        <li>Swift</li>
      </ul>
    </div>
  </div>
  <div
    class="lg:col-span-1 col-span-0 row-span-1 bg-[#97a791] rounded-2xl p-4 bg-opacity-25 shadow-inner w-full fade-in"
  >
    <div class="text-slight font-outfit fade-in">
      <h2 class="text-2xl font-dmserif pb-2">Tooling</h2>
      <hr class="text-slighter pb-2 opacity-70" />
      <ul class="text-slighter">
        <li>Git/Mercurial</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>Linux</li>
        <li>GDB</li>
        <li>CI/CD</li>
      </ul>
    </div>
  </div>
  <div
    class="lg:col-span-1 col-span-0 row-span-1 bg-[#97a791] rounded-2xl p-4 bg-opacity-25 shadow-inner w-full fade-in"
  >
    <div class="text-slight font-outfit">
      <h2 class="text-2xl font-dmserif pb-2">Frameworks</h2>
      <hr class="text-slighter pb-2 opacity-70" />
      <ul class="text-slighter">
        <li>Express</li>
        <li>React</li>
        <li>Astro</li>
        <li>Next.JS</li>
        <li>.NET</li>
        <li>Flutter</li>
      </ul>
    </div>
  </div>
</div>
