<!DOCTYPE html>
<html lang="en">

    <div class="absolute m-auto left-0 right-0 flex flex-row justify-center p-5">
            <p class="font-harmonia text-l pr-5">
                <a class="hover:gradient-text dark:gradient-text-dark" href="https://github.com/simonerlic">GitHub</a>
            </p>
            <p class="font-harmonia text-l pr-5">
                <a class="hover:gradient-text dark:gradient-text-dark" href="">Resume</a>
            </p>
    </div>

</html>