<!DOCTYPE html>
<html lang="en">

    <div class="absolute m-auto left-0 right-0 flex flex-row justify-center p-5">
        <div class="cursor-pointer p-2">
            <p class="font-harmonia text-l pr-5">
                <a class="hover:gradient-text dark:gradient-text-dark cursor-pointer" href="https://github.com/simonerlic">GitHub</a>
            </p>
        </div>
        <!-- <div class="cursor-pointer p-2">
            <p class="font-harmonia text-l pr-5">
                <a class="hover:gradient-text dark:gradient-text-dark" href="">Resume</a>
            </p>
        </div> -->
           
    </div>

</html>