---
// Header.astro
// ------------
---

<header class="fixed w-screen z-20">
  <nav class="mx-auto p-4 flex text-center justify-center items-center">
    <div
      class="container flex flex-row justify-center items-center backdrop-blur-md bg-[#000000] bg-opacity-10 px-8 pb-1 w-fit rounded-full shadow-inner"
    >
      <a
        href="#experience"
        class="md:text-xl font-outfit text-slighter active:text-slight p-2 hover:text-slight nav-link"
        id="nav-experience">experience</a
      >
      <p class="md:text-xl font-outfit text-slighter p-2 hover:text-slight">
        •
      </p>
      <a
        href="#projects"
        class="md:text-xl font-outfit text-slighter active:text-slight p-2 hover:text-slight nav-link"
        id="nav-projects">projects</a
      >
      <p class="md:text-xl font-outfit text-slighter p-2 hover:text-slight">
        •
      </p>
      <a
        href="#contact"
        class="md:text-xl font-outfit text-slighter active:text-slight p-2 hover:text-slight nav-link"
        id="nav-contact">contact</a
      >
      <!-- <p class="md:text-xl font-outfit text-slighter p-2 hover:text-slight">
        •
      </p>
      <a
        href="/blog"
        class="md:text-xl font-outfit text-slighter p-2 hover:text-slight"
        >blog</a
      > -->
    </div>
  </nav>
  <script>
    function updateNavLinks() {
      const sections = [
        { id: "experience", element: document.getElementById("experience") },
        { id: "projects", element: document.getElementById("projects") },
        { id: "contact", element: document.getElementById("contact") },
      ];

      const scrollPosition = window.scrollY + window.innerHeight / 2; // Adjust this to change when the link becomes active

      sections.forEach((section) => {
        const sectionTop = section.element.offsetTop;
        const sectionBottom = sectionTop + section.element.offsetHeight;
        const navLink = document.getElementById(`nav-${section.id}`);

        if (scrollPosition >= sectionTop && scrollPosition <= sectionBottom) {
          navLink.classList.add("active");
        } else {
          navLink.classList.remove("active");
        }
      });
    }

    window.addEventListener("scroll", updateNavLinks);
  </script>
</header>
