<!DOCTYPE html>
<html lang="en">

    <div class="absolute m-auto left-0 right-0 flex flex-row justify-center p-5">
            <p class="font-harmonia text-l pr-5">
                <a class="bg-gradient-to-r hover:from-blue-500 hover:to-purple-600 hover:text-transparent bg-clip-text" href="https://github.com/simonerlic">GitHub</a>
            </p>
            <p class="font-harmonia text-l pr-5">
                <a class="bg-gradient-to-r hover:from-blue-500 hover:to-purple-600 hover:text-transparent bg-clip-text" href="">Resume</a>
            </p>
    </div>

</html>