---
// Header.astro
// No imports necessary
---

<header class="fixed w-screen z-20">
  <nav class="mx-auto p-4 flex text-center justify-center items-center">
    <div
      class="container flex flex-row justify-center items-center backdrop-blur-md bg-[#000000] bg-opacity-10 px-8 pb-1 w-fit rounded-full shadow-inner"
    >
      <a
        href="#projects"
        class="md:text-xl font-outfit text-slighter p-2 hover:text-slight"
        >projects</a
      >
      <p class="md:text-xl font-outfit text-slighter p-2 hover:text-slight">
        •
      </p>
      <a
        href="/contact"
        class="md:text-xl font-outfit text-slighter p-2 hover:text-slight"
        >contact</a
      >
      <p class="md:text-xl font-outfit text-slighter p-2 hover:text-slight">
        •
      </p>
      <a
        href="/blog"
        class="md:text-xl font-outfit text-slighter p-2 hover:text-slight"
        >blog</a
      >
    </div>
  </nav>
</header>
