<div class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-10 ml-4 mr-4 mb-4">
    <!-- Programming Languages -->
    <div class="rounded-lg overflow-hidden border-gray-50 border-2 shadow-md hover:shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Languages</span></div>
            <p class="text-left">
                I've had experience with a few different languages.
            </p>
        </div>
        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
        </div>

    </div>

    <!-- Education -->
    <div class="min-w-sm col-span-2 rounded-lg overflow-hidden border-gray-50 border-2 shadow-md hover:shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Education</span></div>
            <p class="text-left">
                I've had experience with a few different languages.
            </p>
        </div>
        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
        </div>
    </div>

    <!-- Experience -->
    <div class="col-span-2 rounded-lg overflow-hidden border-gray-50 border-2 shadow-md hover:shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Work Experience</span></div>
            <p class="text-left">
                I've had experience with a few different languages.
            </p>
        </div>
        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
        </div>
    </div>

    <!-- Skills -->
    <div class="rounded-lg overflow-hidden border-gray-50 border-2 shadow-md hover:shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Skills</span></div>
            <p class="text-left">
                I've had experience with a few different languages.
            </p>
        </div>
        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
        </div>
    </div>
</div>
