<div class="grid grid-flow-row-dense grid-cols-3 grid-rows-2">
    <!-- Programming Languages -->
    <div class="min-w-sm max-h-sm rounded-lg overflow-hidden shadow-lg m-4">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Languages</span></div>
            <p class="text-left">
                I've had experience with a few different languages.
            </p>
        </div>
        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
        </div>
    </div>

    <!-- Education -->
    <div class="min-w-sm col-span-2 max-h-sm rounded-lg overflow-hidden shadow-lg m-4">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Education</span></div>
            <p class="text-left">
                I've had experience with a few different languages.
            </p>
        </div>
        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
        </div>
    </div>

    <!-- Experience -->
    <div class="min-w-sm max-h-sm col-span-2 rounded-lg overflow-hidden shadow-lg m-4">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Work Experience</span></div>
            <p class="text-left">
                I've had experience with a few different languages.
            </p>
        </div>
        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
        </div>
    </div>

    <!-- Projects -->
    <div class="min-w-sm max-h-sm rounded-lg overflow-hidden shadow-lg m-4">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Languages</span></div>
            <p class="text-left">
                I've had experience with a few different languages.
            </p>
        </div>
        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
        </div>
    </div>

    <!-- Skills -->
    <div class="min-w-sm max-h-sm rounded-lg overflow-hidden shadow-lg m-4">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><span class="bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Languages</span></div>
            <p class="text-left">
                I've had experience with a few different languages.
            </p>
        </div>
        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
        </div>
    </div>
</div>

<style>
/* taken from geeksforgeeks.org */
.lgShadow {

}
    
.lgShadow::after {
    content: "";
    position: absolute;
    inset: -.625em;
    background: linear-gradient(to bottom right,
        rgb(0, 255, 81), rgb(255, 213, 0));
    filter: blur(2.5em);
    z-index: -1;
}
</style>