<div class="grid grid-flow-row-dense sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-5 sm:gap-2  font-harmonia-regular text-left p-5">
    <!-- Programming Languages -->
    <div class="rounded-lg overflow-hidden border-neutral-50 bg-neutral-100 border-2 shadow-md hover:shadow-lg min-w-160">
        <div class="px-6 py-4">
            <div class="text-xl mb-2 font-harmonia"><span class="gradient-text dark:gradient-text-dark font-harmonia">Languages</span></div>
            <p class="text-left">
                The following are the languages I am most proficient in.
            </p>
        </div>
        

        <div class="px-6 pt-2 pb-4">
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">Python</span>
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">C#</span>
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">C++</span>
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">Typescript</span>
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">Swift</span>
        </div>

    </div>

    <!-- Education -->
    <div class="col-span-2 rounded-lg overflow-hidden border-neutral-50 bg-neutral-100 border-2 shadow-md hover:shadow-lg">
        <div class="px-6 py-4">
            <div class="text-xl mb-2 font-harmonia"><span class="gradient-text dark:gradient-text-dark">Education</span></div>
            <p class="text-left">
                Attending the University of Victoria, expecting a degree in <span class="gradient-text dark:gradient-text-dark">Software Engineering</span> in 2025.
            </p>
            <div class="p-2"></div>
            <p>
                <span class="gradient-text dark:gradient-text-dark">Founder</span> and <span class="gradient-text dark:gradient-text-dark">president</span> of the UVic GNU/Linux Club (2022-2023), and a member of the UVic Engineering Students Society.
            </p>
        </div>

    </div>

    <!-- Experience -->
    <div class="col-span-2 rounded-lg overflow-hidden border-neutral-50 bg-neutral-100 border-2 shadow-md hover:shadow-lg">
        <div class="px-6 py-4">
            <div class="text-xl mb-2 font-harmonia"><span class="gradient-text dark:gradient-text-dark">Work Experience</span></div>
            <p class="font-harmonia text-left text-md">
                Polaris Motion - Software Developer Co-op
            </p>
            <p class="font-harmonia-regular text-left">
                <ul class="text-left list-disc pl-4">
                    <li>Worked with <span class="gradient-text dark:gradient-text-dark">gRPC in C++, C#, and Javascript</span> to create a robust RPC framework for the company's server software</li>
                    <li>Wrote documentation in <span class="gradient-text dark:gradient-text-dark">LaTeX</span> for precision machinery</li>
                    <li><span class="gradient-text dark:gradient-text-dark">Utilized OpenCV</span> to develop a high-precision computer vision model to detect and correct lens distortion in a galvoscanner system</li>
                </ul>
               
            </p>
        </div>

    </div>

    <!-- Skills -->
    <div class="rounded-lg overflow-hidden border-neutral-50 bg-neutral-100 border-2 shadow-md hover:shadow-lg min-w-160">
        <div class="px-6 py-4">
            <div class="text-xl font-harmonia"><span class="gradient-text dark:gradient-text-dark">Technical Skills</span></div>
        </div>
        <div class="px-6 pb-4">
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">GNU/Linux</span>
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">Bash & Powershell</span>
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">Astro</span>
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">Git & Mercurial</span>
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">VSCode</span>
            <span class="inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm text-neutral-700 mr-2 mb-2">Unity & UE5</span>
        </div>
    </div>
</div>
