<div class="landing-page w-screen h-screen">
  <canvas id="gradient-canvas" data-transition-in></canvas>

  <div class="absolute bottom-0 md:mx-16 md:mb-10 mx-8 mb-5 z-10">
    <p class="font-outfit text-normal md:text-3xl text-xl text-slighter">
      Hello world, I'm
    </p>
    <h1 class="font-dmserif md:text-9xl text-5xl text-slight">Simon Erlic</h1>
    <p class="font-outfit md:text-3xl text-xl text-slighter">
      Software developer, maker, and student.
    </p>
  </div>

  <script>
    import { Gradient } from "../scripts/gradient.js";

    // Create your instance
    const gradient = new Gradient();

    // Call `initGradient` with the selector to your canvas
    gradient.initGradient("#gradient-canvas");
  </script>
</div>
