<div class="font-harmonia flex m-auto w-screen h-screen relative">
  <div class="isolate w-screen h-screen">
    <div class="h-screen w-screen bg-gradient absolute"></div>
  </div>

  <div class="absolute bottom-0 mx-16 mb-10">
    <p class="font-medium text-3xl text-sabu">Hello world, I'm</p>
    <h1 class="font-serif text-9xl text-sabu">Simon Erlic</h1>
    <p class="font-medium text-3xl text-sabu">
      Software Developer, maker, and student.
    </p>
  </div>

  <style>
    .bg-gradient {
      background: linear-gradient(to bottom, #c8d5bb, #47585c),
        url(https://grainy-gradients.vercel.app/noise.svg);
    }
    .overlay {
      background-color: #47585c;
    }
    .isolate {
      isolation: isolate;
    }
  </style>
</div>
