<div class="landing-page w-screen h-screen">
  <canvas id="gradient-canvas" data-transition-in></canvas>

  <div class="absolute bottom-0 md:px-16 md:pb-10 px-8 pb-5 z-10 container">
    <p
      class="font-outfit text-normal lg:text-3xl md:text-2xl text-xl text-slighter"
    >
      Hello world, I'm
    </p>
    <h1 class="font-dmserif lg:text-9xl md:text-6xl text-5xl text-slight">
      Simon Erlic
    </h1>
    <p class="font-outfit w-4/5 lg:text-3xl md:text-2xl text-xl text-slighter">
      Software developer, maker, and student.
    </p>
    <div class="md:pt-8 pt-2 text-slighter md:text-3xl text-xl">
      <a href="#intro">▼</a>
    </div>
  </div>

  <script>
    import { Gradient } from "../scripts/gradient.js";

    // Create your instance
    const gradient = new Gradient();

    // Call `initGradient` with the selector to your canvas
    gradient.initGradient("#gradient-canvas");
  </script>
</div>
