<div class="flex m-auto w-screen h-screen relative">
  <canvas id="gradient-canvas" data-transition-in></canvas>

  <div class="absolute bottom-0 mx-16 mb-10">
    <p class="font-outfit text-3xl text-nezu">Hello world, I'm</p>
    <h1 class="font-dmserif text-9xl text-nezu">Simon Erlic</h1>
    <p class="font-outfit text-3xl text-nezu">
      Software Developer, maker, and student.
    </p>
  </div>

  <script>
    import { Gradient } from "../scripts/gradient.js";

    // Create your instance
    const gradient = new Gradient();

    // Call `initGradient` with the selector to your canvas
    gradient.initGradient("#gradient-canvas");
  </script>
</div>
