---
import ProjectCard from "./ProjectCard.astro";
---

<div class="grid lg:grid-cols-3 grid-rows-3 grid-cols-2 gap-2">
  <div class="lg:col-span-1 col-span-2 row-span-1 fade-in">
    <ProjectCard image="/images/test.jpg" />
  </div>
  <div
    class="hidden lg:flex lg:col-span-2 col-span-0 row-span-0 bg-[#97a791] rounded-2xl p-4 bg-opacity-60 shadow-inner w-full fade-in"
  >
  </div>
  <div
    class="hidden lg:flex lg:col-span-1 col-span-0 row-span-0 bg-[#97a791] rounded-2xl p-4 bg-opacity-80 shadow-inner w-full fade-in"
  >
  </div>
  <div class="lg:col-span-1 col-span-0 row-span-1 fade-in">
    <ProjectCard image="/images/test.jpg" />
  </div>
  <div class="lg:col-span-1 col-span-0 row-span-1 fade-in">
    <ProjectCard image="/images/test.jpg" />
  </div>
</div>
