

<hr>
<div id="projects" class="font-harmonia text-center flex flex-col pt-10 pb-10 justify-center items-center">
    <div class="m-auto w-1/2 text-xl">
        <h1 class="text-3xl bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Projects</h1>
        <br>
        <p> 
            While I am largely busy with school and co-ops most of the year, I try to get a few projects done on the side.
        </p>
        <br>
        <p>
            The following projects are a few of my favourites.
        </p>
        <br>
    </div>
    <div class="h-2"></div>
</div>
