---
import ProjectCard from "./ProjectCard.astro";
---

<div class="grid lg:grid-cols-6 grid-rows-2 grid-cols-1 gap-2 w-full">
  <div class="lg:col-span-3 col-span-1 row-span-1 fade-in">
    <ProjectCard
      image="/images/test.jpg"
      title="Prismatic"
      description="A colour-guessing game written in Dart using the Flutter framework. The game is available on the Google Play Store and the Apple App Store, and is open source on GitHub."
      link="https://apps.apple.com/us/app/prismatic-the-colour-game/id6456845530"
      github="https://github.com/simonerlic/colour-guesser"
    />
  </div>
  <div class="lg:col-span-3 col-span-1 row-span-1 fade-in">
    <ProjectCard
      image="/images/test.jpg"
      title="Ducky Debugger"
      description="A code debugging UI written in Astro that takes the form of a Duck giving Socratic advise on your code. The project is open source on GitHub."
      github="https://github.com/simonerlic/ducky-debugger"
    />
  </div>
  <div class="lg:col-span-2 col-span-1 row-span-1 fade-in">
    <ProjectCard
      image="/images/test.jpg"
      title="Silver Rock Website"
      description="A website for a property developer written in NextJS, complete with a custom-built CMS. The website is hosted by Vercel, with it's database being provided by Supabase."
    />
  </div>
  <div class="lg:col-span-2 col-span-1 row-span-1 fade-in">
    <ProjectCard
      image="/images/test.jpg"
      title="Minutemen VR"
      description="A VR puzzle/strategy game written in C# using the Unity engine where the player operates and maintains a 60s-era Minutemen-style ICBM silo."
    />
  </div>
  <div class="lg:col-span-2 col-span-1 row-span-1 fade-in">
    <ProjectCard
      image="/images/test.jpg"
      title="This Website"
      description="Completely rewritten from scratch, this website is built in Astro. It uses Cloudflare workers to both serve the website, and operate the contact form forwarding service."
    />
  </div>
</div>
