---
import ProjectCard from '../components/ProjectCard.astro'
---

<hr>
<div class="h-10"></div>
<div id="projects" class="font-harmonia text-center flex flex-col pt-5 pb-5 justify-center items-center">
    <div class="m-auto text-xl justify-center items-center w-1/2">

        <h1 class="text-3xl bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">Projects</h1>
        <br>
        <p> 
            While I am largely busy with school and co-ops most of the year, I try to get a few projects done on the side.
        </p>
        <br>
        <p>
            The following projects are a few of my favourites.
        </p>
        <br>
    </div>

    <!-- Create a carousel of ProjectCards -->
    <div class="flex flex-wrap justify-center r">
        <ProjectCard
        img = 'src/content/img/duc.jpeg'
        alt = 'A photo of a person'
        eyebrow = 'Code Project'
        title = 'DuckyDebugger' 
        details = 'DuckyDebugger is a fun website that I put together using OpenAIs `gpt-3.5-turbo` API. It allows users to upload a sample of their code, and use the socratic method to debug their code.'
        url = 'https://www.supasimon.com' /> <!-- F7BC3E for the ducky background. -->
        
        <ProjectCard
        img = 'src/content/img/duc.jpeg'
        alt = 'A photo of a person'
        eyebrow = 'Code Project'
        title = 'Can I Pass This?' 
        details = 'Can I Pass This? Is a Swift app for iOS that allows users to check their chances of passing a course. The user inputs their syllabus and their grades, then the app will tell the user what they need on the final to reach their goal grade.'
        url = 'https://www.supasimon.com'/>

        <ProjectCard
        img = 'src/content/img/duc.jpeg'
        alt = 'A photo of a person'
        eyebrow = 'Code Project'
        title = 'DuckyDebugger' 
        details = 'DuckyDebugger is a fun website that I put together using OpenAIs `gpt-3.5-turbo` API. It allows users to upload a sample of their code, and use the socratic method to debug their code.'
        url = 'https://www.supasimon.com'/>
    </div>
</div>
<div class="h-10"></div>
