---
import ProjectCard from "./ProjectCard.astro";
---

<div class="grid md:grid-cols-6 grid-rows-2 grid-cols-1 gap-2 w-full">
  <div class="md:col-span-3 col-span-1 row-span-1 fade-in">
    <ProjectCard image="/images/test.jpg" />
  </div>
  <div
    class="hidden md:flex md:col-span-3 md:row-span-1 bg-[#97a791] rounded-2xl p-4 bg-opacity-30 shadow-inner w-full fade-in"
  >
  </div>
  <div
    class="hidden md:flex md:col-span-2 md:row-span-1 bg-[#97a791] rounded-2xl p-4 bg-opacity-80 shadow-inner w-full fade-in"
  >
  </div>
  <div class="md:col-span-2 col-span-1 row-span-1 fade-in">
    <ProjectCard image="/images/test.jpg" />
  </div>
  <div class="md:col-span-2 col-span-1 row-span-1 fade-in">
    <ProjectCard image="/images/test.jpg" />
  </div>
</div>
