---
import "../../styles/blog-home.css";
const allPosts = await Astro.glob("../../pages/posts/*.mdx");

const sortedPosts = allPosts.sort(
  (a, b) =>
    Number(new Date(b.frontmatter.pubDate)) -
    Number(new Date(a.frontmatter.pubDate))
);
---

<body class="relative min-h-screen">
  <div class="recent-box">
    <h3 class="text-lg mb-4">$ ls -a blog_entries/*.md</h3>
    <ul class="space-y-4 sm:space-y-2">
      {
        sortedPosts.map((post) => (
          <li>
            <span class="pr-2">-rw-r--r-- 1 serlic serlic{"  "}</span>
            <span>
              {new Date(post.frontmatter.pubDate).toLocaleDateString("en-US", {
                month: "short",
                day: "numeric",
              })}
            </span>
            <a href={post.url} class="underline pl-2">
              {post.frontmatter.filetitle}.md
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</body>
