---
import Layout from "./Layout.astro";
import Header from "../components/blog/BlogHeader.astro";
import "../styles/blog-content.css";

const { frontmatter, readTime } = Astro.props;
---

<Layout title={frontmatter.title}>
    <Header />
    <div class="blog-body">
        <div class="post-details pb-4 sm:pb-8">
            <h1>{frontmatter.title}</h1>
            <p>
                <span
                    >{
                        new Date(frontmatter.pubDate).toLocaleDateString(
                            "en-US",
                            {
                                weekday: "long",
                                month: "long",
                                day: "numeric",
                            },
                        )
                    }</span
                >
                <span class="mx-2"> • </span>
                <span>{readTime}</span>
            </p>
            <p></p>
        </div>

        <div class="blog-content flex justify-center">
            <div class="w-full sm:w-[8.5in]">
                <slot />
            </div>
        </div>
    </div>
</Layout>
